<header>
    <nav>
        <div class='menu'>
            <div class='logo'><a href='/'>Travel <span>Agency</span></a></div>
            <ul>
                <li>Room</li>
                <li>Flight</li>
                <li>Today's Deal</li>
            </ul>
        </div>
        <div class='myAccount'>
            <div class='ctaGroup'>
                <div class='cta'>Sign In</div>
                <div class='cta active'>Create Account</div>
            </div>
        </div>
    </nav>
</header>